mat-card-actions, .mat-mdc-card-header{
  display:block;
}

.outer-div{
  padding: 2%;
}

mat-card{
  cursor:pointer;
}

.row-cols-4>*{
  padding-bottom: 2%;
}

h1{
  text-decoration: underline;
  margin: auto;
  padding-top: 2%;
  font-size: 54px;
}