mat-dialog-content{
  height:100%;
  width:100%;
}

mat-form-field{
  width:80%;
}

.blogStyle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 50px;
  margin: auto auto 3%;
  font-size: 24px;
}

img{
  width:60%;
  margin-top: 2%;
}