/*
Referenced from:
    https://stackblitz.com/edit/angular-chatbox-app?file=src%2Fapp%2Fapp.component.html
*/
.chat-box {
  margin: 0 auto;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  border: 2px solid #c2185b;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position:absolute;
  bottom:0;
  right:0;
  clear:right
}

.close {
  cursor: pointer;
}

textarea::placeholder {
  opacity: 0.7;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: space-between;
  background-color: #c2185b;
  margin: 0;
  width: 101%;
  margin-left: -2px;
  box-sizing: border-box;
  z-index: 2;
}

h1 {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  color: white;
  z-index: -2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.message-box {
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(255, 243, 242);
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
  overflow-wrap: anywhere;
}

textarea {
  width: 70%;
  border: none;
  resize: none;
  outline: none;
}

section {
  width: 100%;
  display: flex;
  flex-wrap: none;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
}

button {
  width: 100px;
  background-color:#c2185b;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

li {
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid rgba(209, 201, 201);
  color: rgb(145, 31, 31);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(117, 116, 116, 0.3);
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(248, 188, 188);
}
