<div class="login-form">
  <h1>Login/Register</h1>
  <div *ngIf="error">{{errorMsg}}</div>
  <div>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput placeholder="Type here..." name="username" maxlength="15" [(ngModel)]="username">
      <mat-hint align="end">{{username.length}} / 15</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="Type here..." name="password" [(ngModel)]="password">
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="register()">Register</button>
  <button mat-raised-button color="primary" (click)="login()">Login</button>
</div>
