<div class="blogDiv">
  <div>{{blog.title}}</div>
  <div>Author: {{author}}</div>
  <div>Created: {{blog.dateCreated | date:'medium'}}</div>
  <div>Last Updated: {{blog.dateUpdated | date:'medium'}}</div>
  <div>{{blog.body}}</div>
  <div *ngIf="isUser">
    <button (click)="editBlog()">Edit</button>
    <button (click)="deleteBlog()">Delete</button>
  </div>
  <div>Comments ({{blog.comments.length}}) : </div>
  <input type="text" placeholder="Comment here..." [(ngModel)]="newComment">
  <button (click)="postComment()">Post</button>
  <div *ngFor="let comment of blog.comments; let i = index">
    <div>{{comment.creator}}</div>
    <div>Created: {{comment.dateCreated | date:'medium'}}</div>
    <div>Updated: {{comment.dateUpdated | date:'medium'}}</div>
    <div *ngIf="isEditingComment === -1">{{comment.body}}</div>
    <input type="text" *ngIf="isEditingComment === i" [(ngModel)]="commentBody">
    <div>Likes: {{comment.likes.length}}</div>
    <div *ngIf="comment.creator === user">
      <button *ngIf="isEditingComment !== i" (click)="editComment(i)">Edit</button>
      <button *ngIf="isEditingComment !== i" (click)="deleteComment(i)">Delete</button>
      <button *ngIf="isEditingComment === i" (click)="cancelEdit(i)">Cancel</button>
      <button *ngIf="isEditingComment === i" (click)="saveComment(i)">Save</button>
    </div>
  </div>
  <br>
</div>
