h1{
  text-decoration: underline;
  padding-top:2%;
}

.blogTitle{
  font-size: 62px;
}

img{
  max-width:80%;
  max-height: 40%;
  margin-bottom: 2%;
}

.blogBody{
  padding: 5%;
  overflow-wrap: anywhere;
}

.blogButtons, .commentButtons{
  margin: 1%;
  width:79px;
}

mat-form-field{
  width:60%;
}

textarea{
  resize:none;
}

mat-card{
  margin: 2%;
}

.mat-card-body{
  text-align: left;
  margin-left: 2%;
}
.mat-mdc-card-avatar {
  margin-bottom:9px;
}

.mat-mdc-card-header {
  align-items: center;
}

.mdc-card__actions{
  display: block;
}

.commentDiv{
  width: 80%;
  margin: auto;
}