<div class="text-center">
  <div class="blogDiv text-center" [style.font-family]="blog.fontStyle"
       [style.color]="blog.fontColor" [style.background-color]="blog.backgroundColor">
    <h1 class="blogTitle">{{blog.title}}</h1>
    <div *ngIf="isUser">
      <button mat-raised-button color="primary" class="blogButtons" (click)="deleteBlog()">Delete</button>
      <button mat-raised-button color="primary" class="blogButtons" (click)="editBlog()">Edit</button>
    </div>
    <img mat-card-image src="{{blog.imageURL}}" alt="Blank Photo">
    <div class="blogInfo"><strong>Author:</strong> {{author.username}}</div>
    <div class="blogInfo"><strong>Created:</strong> {{blog.dateCreated | date:'medium'}}</div>
    <div class="blogInfo"><strong>Last Updated:</strong> {{blog.dateUpdated | date:'medium'}}</div>
    <div class="blogBody" [style.font-size]='(blog.fontSize + "px")'>{{blog.body}}</div>
  </div>
  <div class="text-center">
    <h1 [style.font-family]="blog.fontStyle"
        [style.color]="blog.fontColor">Comments ({{blog.comments.length}}) :</h1>
    <app-error-alert *ngIf="error"></app-error-alert>
    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Comment here..." maxlength="256" [(ngModel)]="newComment"></textarea>
      <mat-hint align="end">{{newComment.length}} / 256</mat-hint>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" (click)="postComment()">Post</button>
    </div>
    <div *ngFor="let comment of blog.comments; let i = index" class="commentDiv">
      <mat-card [style.color]="('white')">
        <mat-card-header>
          <div mat-card-avatar class="header-image" [style.background-image]="('url(' + getCommentCreatorAccount(comment.creator).profilePic + ')')"></div>
          <mat-card-title><span class="commentCreator">{{comment.creator}}</span></mat-card-title>
        </mat-card-header>
        <div class="mat-card-body">
          <mat-card-subtitle>Created: {{comment.dateCreated | date:'medium'}}</mat-card-subtitle>
          <mat-card-subtitle>Updated: {{comment.dateUpdated | date:'medium'}}</mat-card-subtitle><br>
          <div *ngIf="isEditingComment === -1">{{comment.body}}</div>
        </div>
        <mat-card-actions class="text-center">
          <mat-form-field class="example-full-width" *ngIf="isEditingComment === i">
            <textarea matInput placeholder="Comment here..." maxlength="256" [(ngModel)]="commentBody"></textarea>
            <mat-hint align="end">{{commentBody.length}} / 256</mat-hint>
          </mat-form-field>
          <div *ngIf="comment.creator === user.username">
            <button mat-raised-button color="primary" class="commentButtons" *ngIf="isEditingComment !== i" (click)="editComment(i)">Edit</button>
            <button mat-raised-button color="primary" class="commentButtons" *ngIf="isEditingComment !== i" (click)="deleteComment(i)">Delete</button>
            <button mat-raised-button color="primary" class="commentButtons" *ngIf="isEditingComment === i" (click)="cancelEdit(i)">Cancel</button>
            <button mat-raised-button color="primary" class="commentButtons" *ngIf="isEditingComment === i" (click)="saveComment(i)">Save</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
