p{
  margin:0;
}

.example-spacer {
  flex: 1 1 auto;
}

.center-nav{
  margin-right:2%;
  cursor: pointer;
}

.profileIcon{
  font-size: 42px;
  width: fit-content;
  height: fit-content;
  cursor:pointer;
  margin-right: .5%;
  vertical-align: middle;
}

.drawer-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
}

mat-drawer{
  width:17%;
  background-color: #303030;
}

.sidenav-content{
  overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidenav-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidenav-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.profileDiv{
  cursor: pointer;
}
