<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <app-user-list></app-user-list>
  </mat-drawer>

  <div class="sidenav-content">
    <p>
      <mat-toolbar color="primary">
        <span>My App</span>
        <span class="example-spacer"></span>
        <span class="center-nav" (click)="goToBlogsList()" *ngIf="isloggedIn">Blogs<mat-icon class="blogsIcon">library_books</mat-icon></span>
        <span class="center-nav" (click)="drawer.toggle()" *ngIf="isloggedIn">Users<mat-icon class="usersIcon">people</mat-icon></span>
        <span class="example-spacer"></span>
        <mat-icon class="profileIcon" [matMenuTriggerFor]="menu" *ngIf="isloggedIn">account_circle</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="goToProfile()">My Profile</button>
          <button mat-menu-item (click)="goToMessages()">Messages</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </mat-toolbar>
    </p>
    <app-login *ngIf="!isloggedIn"></app-login>
    <app-blog-list *ngIf="isloggedIn && currentPage === 'blogsList'"></app-blog-list>
    <app-full-blog *ngIf="isloggedIn && currentPage === 'fullBlog'"></app-full-blog>
<!--    <button type="button" mat-button (click)="drawer.toggle()">-->
<!--      Toggle sidenav-->
<!--    </button>-->
  </div>
</mat-drawer-container>
