<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <app-user-list></app-user-list>
  </mat-drawer>

  <div class="sidenav-content" #sidenavContent>
    <p>
      <mat-toolbar color="primary">
        <span>IBlog</span>
        <span class="example-spacer"></span>
        <span class="center-nav" (click)="goToBlogsList()" *ngIf="isloggedIn" style="margin-left:7%;">Blogs<mat-icon class="blogsIcon">library_books</mat-icon></span>
        <span class="center-nav" (click)="drawer.toggle()" *ngIf="isloggedIn">Users<mat-icon class="usersIcon">people</mat-icon></span>
        <span class="example-spacer"></span>
        <span class="profileDiv" [matMenuTriggerFor]="menu" *ngIf="isloggedIn">
          <img mat-card-avatar [style.background-image]="('url(' + user.profilePic + ')')" [style.background-size]="('cover')">
          <span class="username">{{user.username}}</span>
        </span>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="goToProfile()">My Profile</button>
          <button mat-menu-item (click)="goToChats()">Chats</button>
          <button mat-menu-item (click)="logout(drawer)">Logout</button>
        </mat-menu>
      </mat-toolbar>
    </p>
    <app-login *ngIf="!isloggedIn"></app-login>
    <app-blog-list *ngIf="isloggedIn && currentPage === 'blogsList'"></app-blog-list>
    <app-full-blog *ngIf="isloggedIn && currentPage === 'fullBlog'"></app-full-blog>
    <app-profile-page  *ngIf="isloggedIn && currentPage === 'profile'"></app-profile-page>
    <app-chat-list  *ngIf="isloggedIn && currentPage === 'chatsList'"></app-chat-list>
    <app-chat *ngIf="isloggedIn && isChatOpened"></app-chat>
  </div>
</mat-drawer-container>
