.createBlog{
  margin-top:1%;
}

mat-form-field{
  margin-bottom:2%;
  margin-top:1%;
}

.text-center{
  padding: 2%;
}

h1{
  font-size: 64px;
  text-decoration: underline;
}

.row-cols-4>*{
  padding-bottom: 2%;
}