mat-icon, .username{
  cursor:pointer;
  font-size: 18px;
}

mat-icon{
  vertical-align: middle;
  margin-right: 3%;
  font-size: 22px;
}
.userDiv{
  margin-top:5%;
  cursor:pointer;
}

.user:hover{
  background-color: #c2185b;
}

button{
  margin:2%;
}

mat-form-field{
  width:100%;
}

