mat-icon, .username{
  cursor:pointer;
  font-size: 18px;
}

mat-icon{
  vertical-align: middle;
  margin-right: 3%;
  font-size: 22px;
}
.userDiv{
  margin-top:5%;
  cursor:pointer;
}

.user{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:2px;
}

.user:hover{
  background-color: #c2185b;
}

button{
  margin:2%;
}

mat-form-field{
  width:100%;
}

.mat-mdc-card-avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-bottom: 0;
  padding-right: 1%;
  object-fit: cover;
  margin-right:3%;
  background-position: center;
}

.buttonDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}