<p>Users</p>
<input type="test" placeholder="Search here..." (keyup)="filter()" [(ngModel)]="searchInput">
<div *ngFor="let account of accountList;let i = index" (click)="showOptions(i)">
  <mat-icon>account_circle</mat-icon>
  <span class="username">{{account.username}}</span>
  <div *ngIf="showFiller === i">
    <button (click)="startChat(account.username)" *ngIf="account.username !== user.username">Message</button>
    <button (click)="goToProfile(account)">View Profile</button>
  </div>
</div>
