<div class="text-center">
  <h2><strong>Users</strong></h2>
  <mat-form-field>
    <mat-label>Search for User...</mat-label>
    <input matInput placeholder="Type here..." (keyup)="filter()" [(ngModel)]="searchInput">
  </mat-form-field>
</div>
<div *ngFor="let account of accountList;let i = index" (click)="showOptions(i)" class="userDiv">
  <div class="user">
    <img mat-card-avatar [style.background-image]="('url(' + account.profilePic + ')')" [style.background-size]="('cover')">
    <span class="username">{{account.username}}</span>
  </div>
  <div *ngIf="showFiller === i">
    <button mat-raised-button color="primary" (click)="startChat(account.username)" *ngIf="account.username !== user.username">Message</button>
    <button mat-raised-button color="primary" (click)="goToProfile(account)">View Profile</button>
  </div>
</div>
