.mat-mdc-card{
  background-color:#303030;
}

.mat-mdc-card-header {
  display: flex;
  padding: 16px 16px 0;
  justify-content: center;
}

.mat-mdc-card-avatar{
  width:200px;
  height:200px;
  background-position: center;
}

mat-divider{
  margin-bottom:2%;
  margin-top:2%;
}

.usernameDiv{
  font-size: 35px;
  padding-bottom: 1%;
}

.text-center{
  padding: 2%;
}

h1{
  margin-bottom:2%;
}

.row-cols-4>*{
  padding-bottom: 2%;
}
