mat-icon{
  font-size: 20vh;
  width: fit-content;
  height: fit-content;
}

.profileIconDiv{
  height:20vh;
}

.usernameDiv, mat-divider{
  font-size: 35px;
  margin-bottom:2%;
}

.text-center{
  padding: 2%;
}

h1{
  margin-bottom:2%;
}

.row-cols-4>*{
  padding-bottom: 2%;
}